<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/js/script.js" defer></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Password Generator</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Password Generator</h1>
        <h3 class="password-display">Password</h3>
        <form class="form">
            <label for="value">Value</label>
            <input type="text" id="value">

            <label for="key">Key</label>
            <input type="text" id="key">

            <label for="passwordLengthNumber">Length</label>
            <div class="length-container">
                <input type="range" min="1" max="40" id="passwordLengthRange" value="10">
                <input type="number" class="number-input" min="1" max="40" id="passwordLengthNumber" value="10">
            </div>

            <label for="includeUppercase">Include Uppercase</label>
            <input type="checkbox" id="includeUppercase">

            <label for="includeSymbols">Include Symbols</label>
            <input type="checkbox" id="includeSymbols">

            <button type="submit" class="btn">Generate Password</button>
        </form>
    </div>

</body>
</html>
<!--<h1>Password Generator</h1>-->
<!--<form id="passwordForm">-->

<!--    <label for="length">length:</label>-->
<!--    <input type="number" id="length" name="length" required><br><br>-->

<!--    <label for="value">Value:</label>-->
<!--    <input type="text" id="value" name="value" required><br><br>-->

<!--    <label for="key">key:</label>-->
<!--    <input type="text" id="key" name="key" required><br><br>-->

<!--    <label for="includeNumbers">Include Numbers:</label>-->
<!--    <input type="checkbox" id="includeNumbers" name="includeNumbers"><br><br>-->

<!--    <label for="includeSpecialChars">Include Special Characters:</label>-->
<!--    <input type="checkbox" id="includeSpecialChars" name="includeSpecialChars"><br><br>-->

<!--    <label for="includeUppercase">Include Uppercase Letters:</label>-->
<!--    <input type="checkbox" id="includeUppercase" name="includeUppercase"><br><br>-->

<!--    <input type="submit" value="Generate Password">-->
<!--</form>-->

<!--<h2>Generated Password:</h2>-->
<!--<div id="generatedPassword"></div>-->

<!--<script>-->
<!--    document.getElementById("passwordForm").addEventListener("submit", function(event) {-->
<!--        event.preventDefault();-->

<!--        const queryParams = {-->
<!--            value: document.getElementById("value").value,-->
<!--            key: document.getElementById("key").value,-->
<!--            withNumbers: document.getElementById("includeNumbers").checked,-->
<!--            withSymbols: document.getElementById("includeSpecialChars").checked,-->
<!--            withUppercase: document.getElementById("includeUppercase").checked,-->
<!--            length: document.getElementById("length").value-->
<!--        }-->
<!--        const baseUrl = "http://localhost:8080/password/forValue";-->

<!--        const queryString = new URLSearchParams(queryParams).toString();-->
<!--        const url = `${baseUrl}?${queryString}`;-->

<!--        fetch(url)-->
<!--            .then(response => response.json())-->
<!--            .then(data => {-->
<!--                const responseDiv = document.getElementById("response");-->
<!--                responseDiv.innerHTML = JSON.stringify(data, null, 2);-->
<!--            })-->
<!--            .catch(error => {-->
<!--                console.error("Error fetching data:", error);-->
<!--                const responseDiv = document.getElementById("response");-->
<!--                responseDiv.textContent = "An error occurred while fetching data.";-->
<!--            });-->


<!--        document.getElementById("generatedPassword").textContent = "Temporary password";-->
<!--    });-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
